html {
  background-image: url("img/bg.jpg");
  padding: .5em 5em 3em 5em;
  font-family: sans-serif;
}

body {
  background-color: white;
  padding: 1em;
  border-color: #ffd24a;
  border-style: solid;
  padding: 0;
}
#site_header {
  background-color: #ff8523;
  padding: 1em 1em 2em 1em;
}

#logo img{
  margin-bottom: 20px;
}

#site_header nav a{
  color: white;
  padding: .5em 2em .5em 2em;
  text-decoration: none;
  border: solid white;
  border-width: 1px;
  border-radius: 5px;
}

#page_content a {
    color: #1fabe5;
}

#page_content {
  padding: 1em 1em 1em 1em;
}

#page_content section {
  border-bottom: solid #eee;
}
#page_content section h1{
    color: #1fabe5;
}
#page_content section h2{
    color: #1fabe5;
}
#page_content section h3{
    color: #1fabe5;
}

#page_content section ul{
    font-weight: bold;
}


/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/
